doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/script.js')
  body
    h1 vous etes connecté en tant que administrateur
    #list
      ul
       li
        a(href = '#') Utilisateur
       li
        a(href = '#') Article
       li
        a(href = '#') Commentaire
       li
        a(href = '#') Option et paramètre
    br
    #insert
     
   
    br    
    a#im(href="/") retourner à l'accueil
