doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/script.js')
  body
    h1 vous etes connecté en tant que administrateur
    ul
      li 
        a(href ='#') utilisateur
      li
        a(href = '#') article
      li
        a(href = '#') option et paramètre
    br        
    a#im(href="/") retourner à l'accueil
