doctype
html
  head
    title=title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/script.js')
  body
    a#im(href="/") retourner à l'accueil
    h1 A propos de payGoStore.com
    h2 Situation sur le marché (poids et évolution, effectifs)
    br
    h2 Positionnement produits et services
    br
    h2 Forces : couverture géographique, R&D, Innovation, Hommes
    br
    h2 Leviers de développement
    br
    h2 Communication
    br
    h2 Une entreprise à forte croissance sur un marché mature
    br
    h2 Un portefeuille de marques à forte valeur ajoutée
    br
    h2 Des produits et services innovants
    br
    h2 Une capacité d’innovation et une organisation tournées vers le client
    br
    h2 Plusieurs leviers d’action au service  d’une stratégie active
    br
    h2 Un sens tactique de la communication
    a#im(href="/") retourner à l'accueil
    p
      | Copyright © payGoStore  2014. Designed by:(justin F. kamga && Emmanuel F. Kome)
      a(href='/', title='payGo') payGoStore
      | . All Rights Reserved.
          
