doctype
html
  head
    title=title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/script.js')
  body
    a#im(href="/") retourner à l'accueil
    h1 Politique de confidentialité de payGoStore.
    p
      strong Introduction
      br
      | Devant le développement des nouveaux outils de communication, il est
      | nécessaire de porter une attention particulière à la protection de la
      | vie privée.
      | C'est pourquoi, nous nous engageons à respecter la confidentialité des
      | renseignements personnels que nous collectons.
    hr
    h2 Collecte des renseignements personnels
    p Nous collectons les renseignements suivants :
    ul
      li Nom
      li Prénom
      li Adresse postale
      li Code postal
      li Adresse électronique
      li Numéro de téléphone / télécopieur
      li Numéro de carte de crédit
      li Genre / Sexe
      li Âge / Date de naissance
      li Préférences (musicales, littéraires, cinématographiques, etc.)
    p
      | Les renseignements personnels que nous collectons sont recueillis au travers de formulaires et grâce à
      | l'interactivité établie entre vous et notre site Web.
      | Nous utilisons également, comme indiqué dans la section suivante, des fichiers témoins et/ou journaux
      | pour réunir des informations vous concernant.
    hr
    h2 Formulaires  et interactivité:
    p
      | Vos renseignements personnels sont collectés par le biais de formulaire, à savoir :
    ul
      li Formulaire d'inscription au site Web
      li Formulaire de commande
      li Sondage d'opinion
      li Concours
    p Nous utilisons les renseignements ainsi collectés pour les finalités suivantes :
    ul
      li Suivi de la commande
      li Informations / Offres promotionnelles
      li Statistiques
      li Contact
      li Gestion du site Web (présentation, organisation) 
    p
      | Vos renseignements sont également collectés par le biais de
      | l'interactivité pouvant s'établir entre vous et notre site Web et ce, de
      | la façon suivante:
    ul
      li Statistiques
      li Contact
      li Gestion du site Web (présentation, organisation)
    p Nous utilisons les renseignements ainsi collectés pour les finalités suivantes :
    ul
      li Forum ou aire de discussion
      li Commentaires 
      li Correspondance
      li Informations ou pour des offres promotionnelles
    hr
    h2 Fichiers journaux et témoins
    p
      | Nous recueillons certaines informations par le biais de fichiers
      | journaux (log file) et de fichiers témoins (cookies). Il s'agit
      | principalement des informations suivantes :
    ul
      li Adresse IP
      li Système d'exploitation
      li Pages visitées et requêtes
      li Heure et jour de connexion
    p  
    p Le recours à de tels fichiers nous permet :
    ul
      li Amélioration du service et accueil personnalisé
      li Profil personnalisé de consommation
      li Suivi de commande
      li Statistique
    hr
    h2 Partage des renseignements personnels
    p
      | Nous nous engageons à ne pas commercialiser les renseignements
      | personnels collectés. Toutefois, il nous arrive de partager ces
      | informations avec des tiers pour les raisons suivantes :
    ul
      li Profil de consommation 
      li Exécution de la commande 
      li Partenariat 
      li Publicité
    p
      | Si vous ne souhaitez pas que vos renseignements personnels soient communiqués à des tiers, il vous est possible de vous
      | y opposer au moment de la collecte ou à tout moment par la suite, comme mentionné dans la section suivante.
    hr
    h2 Droit d'opposition et de retrait
    p
      | Nous nous engageons à vous offrir un droit d'opposition et de retrait quant à vos renseignements personnels.
      br
      | Le droit d'opposition s'entend comme étant la possiblité offerte aux internautes de refuser que leurs renseignements
      | personnels soient utilisées à certaines fins mentionnées lors de la collecte.
    p
      | Le droit de retrait s'entend comme étant la possiblité offerte aux internautes de demander à ce que leurs
      | renseignements personnels ne figurent plus, par exemple, dans une liste de diffusion.
    p
      | Pour pouvoir exercer ces droits, vous pouvez :
      br
      | Code postal : 335 boul Deguire, Montreal H4N 1P7
      br
      | Courriel : jkamga.officiel@gmail.com
      br
      | Téléphone : +1514 531-3057
      br
      | Section du site web : http://www.payGoStore.com/
    hr
    h2 Droit d'accès
    p
      | Nous nous engageons à reconnaître un droit d'accès et de rectification aux personnes
      | concernées désireuses de consulter, modifier, voire radier les informations les concernant.
      br
      | L'exercice de ce droit se fera :
      br
      | Code postal : 335 boul Deguire, Montreal H4N 1P7
      br
      | Courriel : jkamga.officiel@gmail.com
      br
      | Téléphone : +1514 531-3057
      br
      | Section du site web : http://www.payGoStore.com/
    hr
    h2 Sécurité
    p
      | Les renseignements personnels que nous collectons sont conservés
      | dans un environnement sécurisé. Les personnes travaillant pour nous
      | sont tenues de respecter la confidentialité de vos informations.
      br
      | Pour assurer la sécurité de vos renseignements personnels, nous avons recours aux mesures suivantes :
    ul
      li Gestion des accès - personne autorisée
      li Gestion des accès - personne concernée
      li Sauvegarde informatique
      li Identifiant / mot de passe
    p
      | Nous nous engageons à maintenir un haut degré de confidentialité en
      | intégrant les dernières innovations technologiques permettant d'assurer
      | la confidentialité de vos transactions. Toutefois, comme aucun
      | mécanisme n'offre une sécurité maximale, une part de risque est toujours
      | présente
      | lorsque l'on utilise Internet pour transmettre des renseignements
      | personnels.
    hr
    h2 Législation
    p
      | Nous nous engageons à respecter les dispositions législatives énoncées dans :
      br
      | legislation canadienne en matiere de la politique de confidentialite en e-commerce
     a#im(href="/") retourner à l'accueil
    p
      | Copyright © payGoStore  2014. Designed by:(justin F. kamga && Emmanuel F. Kome)
      a(href='/', title='payGo') payGoStore
      | . All Rights Reserved.
     

