doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/script.js')
  body
    h1 payGoStore Owners adress
    p   
     |justin F kamga
      335 boul deguire, St-laurent, Quebec, Canada
      mailto:jkamga.officiel@gmail.com
        
    p 
     |Emmanuel F kome
      335 boul deguire, St-laurent, Quebec, Canada    
      mailto:kaizeurk@gmail.com
