doctype
html
  head
    title=title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/script.js')
  body
    a#im(href="/") retourner à l'accueil
    h2  payGoStore Owners
    img(src='images/justin.jpg', alt='photo justin' height="150" width="100")
    p
      | justin F kamga
      br
      | 335 boul deguire, St-laurent,Quebec,Canada
      br
      | Programmeur-Analyste
      br
    a(href='jkamga.officiel@gmail.com') Ecrivez-nous
      br 
      br
    img(src='images/emma.jpg', alt='photo emmanuel' height="150" width="100")
    p
      | Emmanuel F kome
      br
      | 335 boul deguire, St-laurent, Quebec, Canada
      br
      | Programmeur-Analyste
      br
   a(href='kaizeurk@gmail.com') Ecrivez-nous
      br
   a#im(href="/") retourner à l'accueil
 p
   | Copyright © payGoStore  2014. Designed by:(justin F. kamga && Emmanuel F. Kome)
   a(href='/', title='payGo') payGoStore
   | . All Rights Reserved.
   .cl  

