doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/script.js')
  body
    h1 bienvenu au nouveau membre
    form(name='job', method='post', action='/enregisterer', enctype='utf-8')
      fieldset
        legend Informations personnelles
        label(for='nom') Nom &#1645?&nbsp;&nbsp;
        br
        input(type='text', name='nom',id='nom',onblur = 'return verifChamp(this)', tablindex='1',required='required', accesskey='n')        
        br
        label(for='prenom') Prenom &#1645?&nbsp;&nbsp;
        br
        input(type='text', name='prenom',id='prenom',onblur = 'return verifChamp(this)', tablindex='2',required='required', accesskey='n')        
        br
        label(for='sexe') Genre: &nbsp;&nbsp;   
        select(size='1',id = 'sexe')
          option(value=)
          option(value='F') Femme
          option(value='H') Homme
        br
        label(for='age') date de naissance &#1645?&nbsp;&nbsp;
        br
        input(type='text', name='age',id='age',onblur = 'return validerDate(this)',placeholder= 'YYYY-MM-DD', tablindex='2',required='required', accesskey='n')        
        br
        label(for='corriel') Corriel &#1645?&nbsp;&nbsp;
        br
        input(type='email', name='corriel',id='corriel',onblur = 'return verifChamp(this)', tablindex='2',required='required', accesskey='n')        
        br
        label(for='password') entrez un mot de passe &#1645?&nbsp;&nbsp;
        br
        input(type='password', name='password',id='password',onblur = 'return verifChamp(this)', tablindex='2',required='required', accesskey='n')        
        br
        label(for='password') Confirmer le mot de passe &#1645?&nbsp;&nbsp;
        br
        input(type='password', name='password',id='password',onblur = 'return verifChamp(this)', tablindex='2',required='required', accesskey='n')        
        br
      fieldset
        legend Informations de localisation
        label(for='adresse') Adresse ?&nbsp;&nbsp;
        br
        input(type='text', name='adresse',id='adresse',onblur = 'return verifChamp(this)', tablindex='1',required='required', accesskey='n')        
        br
        label(for='ville') Ville ?&nbsp;&nbsp;
        br
        input(type='text', name='ville',id='ville',onblur = 'return verifChamp(this)', tablindex='1',required='required', accesskey='n')        
        br
        label(for='codePost') Code postal ?&nbsp;&nbsp;
        br
        input(type='text', name='codePost',id='codePost',placeholder= 'X1X 1X1', onblur = 'return verifChamp(this)', tablindex='1',required='required',11 accesskey='n')        
        br
        label(for='province') Province ?&nbsp;&nbsp;
        br
        input(type='text', name='province',id='province',onblur = 'return verifChamp(this)', tablindex='1',required='required', accesskey='n')        
        br
        label(for='pays') Pays ?&nbsp;&nbsp;
        br
        input(type='text', name='pays',id='pays',onblur = 'return verifChamp(this)', tablindex='1',required='required', accesskey='n')        
        br
        label(for='tel') Tel &#1645?&nbsp;&nbsp;
        br
        input(type='text', name='tel',id='tel',onblur = 'return validerTel(this)',placeholder= 'XXX XXX-XXXX', tablindex='2',required='required', accesskey='n')        
        br
      input(type="submit", value="Enregistrer")
      input(type='reset', value='annuller')
  br        
  a#im(href="/") retourner à l'accueil
