doctype
html
  head
    title payGoStore.com
    meta(http-equiv='Content-type', content='text/html; charset=utf-8')
    link(rel='shortcut icon', href='css/images/favicon.ico')
    link(rel='stylesheet', href='css/style.css', type='text/css', media='all')
    script(src='js/jquery-1.6.2.min.js', type='text/javascript', charset='utf-8')
    //if IE 6
    script(src='js/DD_belatedPNG-min.js', type='text/javascript', charset='utf-8')
    script(src='js/jquery.jcarousel.min.js', type='text/javascript', charset='utf-8')
    script(src='js/functions.js', type='text/javascript', charset='utf-8')
  body
    // Begin Wrapper
    #wrapper
      // Begin Search
      #search
        .shell
          form(action='#', method='get', accept-charset='utf-8')
            .container
              input.blink(type='text', title='Keywords...', placeholder='products and help')
            input.search-button(type='submit', value='Submit')
          .cl  
      // End Search
      // Begin Header
      #header.shell
        h1#logo
          a.notext(href='home.html', title='PayGoStore') payGoStore
      // End Header
      // Begin Navigation
      #navigation
        .shell
          ul
            li
              a(href='#', title='Home') Home
            li
              a(href='#', title='Special Offers') Special Offers
            li
              a(href='#', title='Log In') Log In
            li
              a(href='#', title='Account') Account
            li
              a(href='#', title='Basket') Basket
            li
              a(href='#', title='Checkout') Checkout
            li
              a(href='#', title='Contact') Contact
          .cl  
      // End Navigation
      // Begin Slider
      #slider
        .slider-outer
          .slider-inner.shell
            // Begin Slider Items
            ul.slider-items
              li
                img(src='css/images/slide-img1.jpg', alt='Slide Image 1')
                .slide-entry
                  h2  All Categories  Computers 
                  h3
                    | Printer Accessories Laptop Bags, Cases & Covers Batteries & Chargers Desktop Accessories Microphones See More...
                  p  
                a.more(href='#', title='View More') View More
              li
                img(src='css/images/slide-img2.jpg', alt='Slide Image 2')
                .slide-entry
                  h2  Dell Inspiron 660s i660s-5390BK Dell 
                  h3 $509.99  Save: $90.00 (15%) 
                  p  
                a.more(href='#', title='View More') View More
              li
                img(src='css/images/slide-img3.jpg', alt='Slide Image 3')
                .slide-entry
                  h2 Best price warented
                  h3 save up to 35% 
                  p justo tu t'en sortira
                a.more(href='#', title='View More') View More
              li
                img(src='css/images/slide-img4.jpg', alt='Slide Image 4')
                .slide-entry
                  h2 Great deals on Computers!
                  h3 See in-store for more amazing unadvertised deals on desktop and laptop
                  p justo be careful
                a.more(href='#', title='View More') View More
              li
                img(src='css/images/slide-img5.jpg', alt='Slide Image 5')
                .slide-entry
                  h2 Now accepting PayPal 
                  h3 Fast, FREE Shipping*
                  p buy now and pickup when you want
                a.more(href='#', title='View More') View More
            // End Slider Items
            .cl  
            .slider-controls
        .cl  
      // End Slider
      // Begin Main
      #main
        // Begin Inner
        .inner
          .shell
            // Begin Left Sidebar
            #left-sidebar.sidebar
              ul
                li.widget
                  h2 Categories
                  .widget-entry
                    ul
                      li
                        a(href='#', title='Desktops')
                          span Desktops
                      li
                        a(href='#', title='Laptops & Notebooks')
                          span Laptops & Notebooks
                      li
                        a(href='#', title='Components')
                          span Components
                      li
                        a(href='#', title='Software')
                          span Software
                      li
                        a(href='#', title='Phones & PDAs')
                          span Phones & PDAs
                      li
                        a(href='#', title='Cameras')
                          span Cameras
                      li.last
                        a(href='#', title='MP3 Players')
                          span MP3 Players
                li.widget
                  h2 Information
                  .widget-entry
                    ul
                      li
                        a(href='#', title='About Us')
                          span About Us
                      li
                        a(href='#', title='Privacy Policy')
                          span Privacy Policy
                      li
                        a(href='#', title='Terms & Conditions')
                          span Terms & Conditions
                      li
                        a(href='#', title='Contact Us')
                          span Contact Us
                      li.last
                        a(href='#', title='Site Map')
                          span Site Map
                li.widget.select-widget
                  h2 Brands
                  .widget-entry
                    .selectbox
                      span.currentItem
                        | ---
                        span Please Select
                        | ---
                      .list
                        ul
                          li.active
                            a(href='#', title='Please Select') Please Select
                          li
                            a(href='#', title='Brand 1') Brand 1
                          li
                            a(href='#', title='Brand 2') Brand 2
                          li
                            a(href='#', title='Brand 3') Brand 3
                      select
                        option(value='option', selected='selected') Please Select
                        option(value='option1') Brand 1
                        option(value='option2') Brand 2
                        option(value='option3') Brand 3
                    .cl  
                li.widget
                  h2 Shopping Card
                  .widget-entry
                    a.items(href='#', title='Shopping Card Items') 0 items
            // End Sidebar
            // Begin Content
            #content
              // Begin Post
              .post
                h2
                  | Welcome to payGoStore
                  span.title-bottom  
                p
                  | Maecenas eget purus arcu, in vestibulum libero. Aliquam facilisis rhoncus eros, quis rutrum dolor tincid-unt ac. Duis vel consequat justo. Praesent felis mauris, ultricies nec tincidunt vitae, dignissim ac risus. Suspendisse in sem sit amet quam adipiscing interdum. Cras ac lacinia enim. Fusce eros odio, lacinia id egestas id, adipiscing a erat. Integer lacinia augue quis eros condimentum ac varius nunc lacinia.
              // End Post
              // Begin Products
              #products
                h2
                  | Latest Products
                  span.title-bottom  
                .product
                  a(href='#', title='Product 1')
                    span.title Product Name
                    img(src='css/images/product-img1.jpg', alt='Product Image 1')
                    span.number Product 14
                    span.price
                      span $
                      | 587.50
                .product
                  a(href='#', title='Product 2')
                    span.title Product Name
                    img(src='css/images/product-img2.jpg', alt='Product Image 2')
                    span.number Product 17
                    span.price
                      span $
                      | 1587.50
                .product.last
                  a(href='#', title='Product 3')
                    span.title Product Name
                    img(src='css/images/product-img3.jpg', alt='Product Image 3')
                    span.number Product 22
                    span.price
                      span $
                      | 1249.99
                .cl  
                .product
                  a(href='#', title='Product 4')
                    span.title Product Name
                    img(src='css/images/product-img4.jpg', alt='Product Image 4')
                    span.number Product 9
                    span.price
                      span $
                      | 199.99
                .product
                  a(href='#', title='Product 5')
                    span.title Product Name
                    img(src='css/images/product-img5.jpg', alt='Product Image 5')
                    span.number Product 21
                    span.price
                      span $
                      | 259.50
                .product.last
                  a(href='#', title='Product 6')
                    span.title Product Name
                    img(src='css/images/product-img6.jpg', alt='Product Image 6')
                    span.number Product 2
                    span.price
                      span $
                      | 785.20
                .cl  
                .product
                  a(href='#', title='Product 7')
                    span.title Product Name
                    img(src='css/images/product-img7.jpg', alt='Product Image 7')
                    span.number Product 115
                    span.price
                      span $
                      | 99.99
                .product
                  a(href='#', title='Product 8')
                    span.title Product Name
                    img(src='css/images/product-img8.jpg', alt='Product Image 8')
                    span.number Product 97
                    span.price
                      span $
                      | 199.99
                .product.last
                  a(href='#', title='Product 9')
                    span.title Product Name
                    img(src='css/images/product-img9.jpg', alt='Product Image 9')
                    span.number Product 24
                    span.price
                      span $
                      | 688.50
                .cl  
              // End Products
            // End Content
            // Begin Right Sidebar
            #right-sidebar.sidebar
              ul
                li.widget.products-box
                  h2 Bestsellers
                  .widget-entry
                    ul
                      li
                        a(href='#', title='Side Product 1')
                          img(src='css/images/side-img1.jpg', alt='Product Side Image 1')
                          span.info
                            span.title Product Name
                            span.price
                              span $
                              | 117.50
                          span.cl  
                      li
                        a(href='#', title='Side Product 2')
                          img(src='css/images/side-img2.jpg', alt='Product Side Image 2')
                          span.info
                            span.title Product Name
                            span.price
                              span $
                              | 94.00
                          span.cl  
                      li
                        a(href='#', title='Side Product 3')
                          img(src='css/images/side-img3.jpg', alt='Product Side Image 3')
                          span.info
                            span.title Product Name
                            span.price
                              span $
                              | 1,175.00
                          span.cl  
                      li
                        a(href='#', title='Side Product 4')
                          img(src='css/images/side-img4.jpg', alt='Product Side Image 4')
                          span.info
                            span.title Product Name
                            span.price
                              span $
                              | 117.50
                          span.cl  
                      li
                        a(href='#', title='Side Product 5')
                          img(src='css/images/side-img5.jpg', alt='Product Side Image 5')
                          span.info
                            span.title Product Name
                            span.price
                              span $
                              | 1,175.00
                          span.cl  
                      li
                        a(href='#', title='Side Product 6')
                          img(src='css/images/side-img6.jpg', alt='Product Side Image 6')
                          span.info
                            span.title Product Name
                            span.price
                              span $
                              | 587.50
                          span.cl  
                      li
                        a(href='#', title='Side Product 7')
                          img(src='css/images/side-img7.jpg', alt='Product Side Image 7')
                          span.info
                            span.title Product Name
                            span.price
                              span $
                              | 1,175.00
                          span.cl  
                      li
                        a(href='#', title='Side Product 8')
                          img(src='css/images/side-img8.jpg', alt='Product Side Image 8')
                          span.info
                            span.title Product Name
                            span.price
                              span $
                              | 117.50
                          span.cl  
                      li
                        a(href='#', title='Side Product 9')
                          img(src='css/images/side-img9.jpg', alt='Product Side Image 9')
                          span.info
                            span.title Product Name
                            span.price
                              span $
                              | 118.68
                          span.cl  
                      li
                        a(href='#', title='Side Product 10')
                          img(src='css/images/side-img10.jpg', alt='Product Side Image 10')
                          span.info
                            span.title Product Name
                            span.price
                              span $
                              | 235.00
                          span.cl  
                    .cl  
                li.widget.products-box
                  h2 Feature
                  .widget-entry
                    ul
                      li
                        a(href='#', title='Featured Product 1')
                          img(src='css/images/featured-img1.jpg', alt='Product Featured Image 1')
                          span.info
                            span.title Product Name
                            span.price
                              span $
                              | 117.50
                          span.cl  
                      li
                        a(href='#', title='Featured Product 2')
                          img(src='css/images/featured-img2.jpg', alt='Product Featured Image 2')
                          span.info
                            span.title Product Name
                            span.price
                              span $
                              | 94.00
                          span.cl  
                      li
                        a(href='#', title='Featured Product 3')
                          img(src='css/images/featured-img3.jpg', alt='Product Featured Image 3')
                          span.info
                            span.title Product Name
                            span.price
                              span $
                              | 1,175.00
                          span.cl  
                      li
                        a(href='#', title='Featured Product 4')
                          img(src='css/images/featured-img4.jpg', alt='Product Featured Image 4')
                          span.info
                            span.title Product Name
                            span.price
                              span $
                              | 117.50
                          span.cl  
                      li
                        a(href='#', title='Featured Product 5')
                          img(src='css/images/featured-img5.jpg', alt='Product Featured Image 5')
                          span.info
                            span.title Product Name
                            span.price
                              span $
                              | 1,175.00
                          span.cl  
                      li
                        a(href='#', title='Featured Product 6')
                          img(src='css/images/featured-img6.jpg', alt='Product Featured Image 6')
                          span.info
                            span.title Product Name
                            span.price
                              span $
                              | 587.50
                          span.cl  
                    .cl  
            // End Sidebar
            .cl  
        // End Inner
      // End Main
      // Begin Footer
      #footer
        .shell
          p.bottom-menu
            a(href='home.html', title='Home') Home
            span |
            a(href='#', title='Special Offers') Special Offers
            span |
            a(href='#', title='Log In') Log In
            span |
            a(href='#', title='Account') Account
            span |
            a(href='#', title='Basket') Basket
            span |
            a(href='#', title='Checkout') Checkout
            span |
            a(href='#', title='Contact') Contact
          p
            | Copyright © payGoStore  2013. Design by:(justin F. kamga && Emmanuel F. Kome)
            a(href='#', title='payGo') payGoStore
            | . All Rights Reserved.
          .cl  
      // End Footer
    // End Wrapper

