body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color :
}

a {
  color: #00B7FF;
}

td{
    size: 60px;
    text-align: center;
}

h1{
    color: blue;
    text-align: center;
    font-size: 50px;

}
#lis{
   text-align: center; 
}
h2{
    color: green;
    
}

p{
    text-shadow : 1px 1px 4px Helvetica;
    
}

#im{
    background-image : url('/stylesheets/ecke.gif') ;

}
#art{
    font: 15px "Lucida Grande", Arial, sans-serif;
    border : 3px blue solid ;
    font-size : 30px;
    width: 1100px;
    background-color: yellow;
    height: 50px;
    text-align: center; 
    font-family: Comic Sans MS; 
    font-weight : bold ;
    
}
#artic{

   background-color: #FFFFCC; 
}
th{
        width: 300px;
        max-height: 10px;    
}


#text{
    text:justify;
}
